.App {
  display: flex;
  text-align: center;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.footer-menu{
  list-style-type: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer-menu a {
  text-decoration: none;
  color: black;
  font-weight:300;

}


.Navigation{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 10vh;
  
}
.Navigation a {
  text-decoration: none;
  color: black;
  font-weight: 600;

}
.footer-container{
  display:flex;
  flex-direction: row;
  gap:20vh;
  margin:auto;
  width: 1100px;
}
.flex-container{
  display:flex;
  flex-direction: row;
  gap:10vh;
  margin:auto;
  width: 1000px;
}
.container-secA{
  background-color: #495E57;
  
.main-sectionA{
  display: flex;
  flex-direction: row;
}
}
.main-sectionD{
  display: flex;
  flex-direction: row;
  width: 1000px;
  margin: auto;
  padding: 5px;
}

.main-sectionA{
  width: 1000px;
  margin: auto;
}
.main-title{
  color: #F4CE14;
  font-size: 60px;
  font-weight: 700;
}
.main-sub-title{
  color: #FFFFFF;
  font-size: 30px;
  margin-top: -1.5rem;
}
.main-text{
  color: #FFFFFF;
  font-size: 22px;
  width: 400px;
}
.btn-reserve{
  padding: 8px 20px;
  background-color: #F4CE14;
  font-weight: 700;
  border-radius: 15px;
  border: none;
  margin: 10px;
  font-size: 18px;
  width: 12rem;
  }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
